{{outlet}}

{{#each model as |eachActivity|}}
  {{activity-row activity=eachActivity
      routeUpdateActivity='updateActivity'
      routeDestroyActivity='destroyActivity'
  }}
{{/each}}


{{!-- <h5>{{activity.name}}</h5>
<p>{{activity.category}}</p>
<p>{{activity.value}}</p> --}}
