{{outlet}}

    {{activity-form createActivity="createActivity"}}

<div class="activities-container">
<h4>My Activities</h4>
  {{#each model as |eachActivity|}}
    {{activity-row activity=eachActivity
        routeUpdateActivity='updateActivity'
        routeDestroyActivity='destroyActivity'
    }}
  {{/each}}
</div>

<div class="my-total-actions">
  <h4>Total Activities Logged</h4>
  {{model.length}}
</div>

<div class="my-total-points">
  <h4>Total Points</h4>
  {{sumValues model}}
</div>
