{{!-- An edit form for update organization --}}
{{yield}}


<div class="all-templates-container">
  <h4>Update Your Organization's Information</h4>
  <form>
    <div>
      <p>{{input placeholder='Name' value=organization.name}}</p>

      <p>{{input placeholder='Contact' value=organization.contact}}</p>

      <p>{{input placeholder='Goal' value=organization.goal}}</p>
    </div><br>
    <button class="btn edit-org-btn" {{action 'updateOrganization'}}>Submit</button>
  </form>
</div>
