<div class="all-templates-container">

  <div class="my-total-points">
    <h4>Total Score: </h4>
    <h1>{{sumValues model.activities model.activities.length}}</h1>
  </div>
  <div class="my-total-actions">
    <h4>Total # Activities</h4>
    <h1>{{model.activities.length}}</h1>
  </div>


  <div class="activities-container">
  <h4>My Organization's Activities</h4>
  <table class="activity-table">
    <tr>
      <th>Points</th>
      <th>Activity</th>
      <th>Category</th>
      <th>User</th>
    </tr>
  {{#each model.activities as |activity|}}
    <tr>

      <td>{{activity.value}}</td>
      <td>{{activity.name}}</td>
      <td>{{activity.category}}</td>
      <td>User: {{activity.user.name}}</td>
    </tr>
  {{/each}}
</table>
</div>



<div class="activity-form">
  <h4>Organization Account</h4>
  <p>Organization Name: {{model.organization.name}}</p>
  <p>Main Contact Displayed to Users: {{model.organization.contact}}</p>
  <p>Goal Displayed to Users: {{model.organization.goal}}</p>
{{#link-to "organization"}}<button class="btn edit-org-btn">Edit Organization Details</button>{{/link-to}}<
</div>
</div>
