{{!-- Activiy creation form --}}
{{yield}}

<div class="activity-form">
  <form>
    <h4>What action did you take today?</h4>
    <div>
      {{input placeholder='Name' value=form.name}}
      {{input placeholder='Category' value=form.category}}
      {{input placeholder='Value' value=form.value}}
    </div>
    <button {{action 'createActivity'}}>Submit</button>
  </form>
</div>
