{{!-- Form to create an organization- what goes in the form and which action is connected to the button --}}


<form>
    <div class="org-registration-fields">
      {{input placeholder='your organization or team name' value=form.name}}
      {{input placeholder='your email address' value=form.contact}}
      {{input placeholder="your team's energy saving goal" value=form.goal}}
      <button class="create-org-btn btn btn-primary" {{action 'createOrganization'}}>Register</button>
    </div>
</form>

{{yield}}
