{{!-- Organization form component template - what goes in the form and which action is connected to the button --}}


<form>
  <h1>Create Organization</h1>
  <div>
    {{input placeholder='Name' value=form.name}}
    {{input placeholder='Main Contact' value=form.contact}}
    {{input placeholder='Organization Goal' value=form.goal}}
  </div>
  <button {{action 'createOrganization'}}>Register</button>
</form>

{{yield}}
{{!-- <form>
  <div class="form-group">
    <label for="organizationName">Organization/Team Name</label>
    <input type="text" class="form-control" id="organizationNameInput" name="organization[name]" placeholder="Organization/Team Name">
  </div>
  <div class="form-group">
    <label for="organizationContact">Email of Main Contact</label>
    <input type="email" name="organization[contact]" class="form-control" id="organizationContactInput" placeholder="email address">
  </div>
  <div class="form-group">
    <label for="organizationGoal">What is your participation goal?</label>
    <input type="text" name="organization[goal]" class="form-control" id="organizationGoalInput" placeholder="e.g, Pizza party when our team gets X points!">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form> --}}
