{{username-input name=credentials.name}}
{{email-input email=credentials.email}}
{{password-input password=credentials.password}}
{{password-confirmation-input password=credentials.passwordConfirmation}}
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Choose Your Company
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    {{#each organizations as |organization|}}
      <li value="{{organization.id}}">{{organization.name}}</li>
    {{/each}}
  </ul>
</div><br>

<button type="submit" class="btn btn-primary" {{action "submit"}}>
  Sign Up
</button>

<button class="btn btn-default" {{action "reset"}}>
  Cancel
</button>
